
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atlas - @ViewBag.Title</title>
    <link href="@Url.Content("~/Public/css/jquery.ui/jquery-ui-1.8.24.custom.css")" rel="stylesheet" media="all" type="text/css"/>
    
</head>
    <body>
        @if(null != TempData["success"])
        {
            <div class="success">
                @TempData["success"]
            </div>
        }
        <div>
            @RenderBody()
        </div>
        <div id="modal"></div>
        <script src="@Url.Content("~/Public/js/libs/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Public/js/libs/jquery-ui-1.8.24.custom.min.js")"></script>
        <script src="@Url.Content("~/Public/js/app.js")"></script>
    </body>
</html>
