@model Atlas.UI.Models.ContatoViewModel

@if (null != Model.Telefones && Model.Telefones.Any())
{
    <table>
        <tr>
            <th>Numero</th>
            <th>Operadora</th>
            <th></th>
        </tr>
        @foreach (var telefone in Model.Telefones)
        {
            <tr>
                <td>@telefone.Numero</td>
                <td>@telefone.Operadora</td>
                <td><a href="@Url.Action("DeletePhone", "Contatos", new {id = Model.Id})"
                       class="excluir edit"
                       data-method="post"
                       data-redirect="@Url.Action("Edit", "Contatos", new {id = Model.Id})" 
                       data-params='{"Operadora":"@telefone.Operadora","Numero":"@telefone.Numero"}'>Excluir</a></td>
            </tr>
        }
    </table>
}