@model Atlas.UI.Models.PagedResultViewModel<Atlas.UI.Models.ContatoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Search",(string)ViewBag.Term)

@Html.ActionLink("Novo","New","Contatos")

<ul id="contatos" 
    data-url="@Url.Action("Index","Contatos")" 
    data-total-pages="@Model.TotalPages" 
    data-params='{"term":"@ViewBag.Term"}'>
    @Html.Partial("_Contatos",Model)
</ul>

