@model Atlas.UI.Models.ContatoViewModel
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<form action="@Url.Action("Update","Contatos",new{id = Model.Id})" method="PUT">
    <div>
        @Html.LabelFor(c=>c.Nome)
        @Html.TextBoxFor(c=>c.Nome)
    </div>
    <div>
        @Html.LabelFor(c=>c.Apelido)
        @Html.TextBoxFor(c=>c.Apelido)
    </div>
    <input type="submit" value="Salvar"/>
</form>